body {
    text-align: center;
    background-color: rgb(193, 243, 194);
    font-weight: 600;
    color: white;
}

form {
    max-width: 500px;
    margin: auto;
}

.btn{
    margin-top: 5px;
}
input{
    background-color: rgb(244, 178, 178);
    color: rgb(242, 246, 247);
    
}